<footer class="footer">
  <div class="footer-section logo-section">
    <a href="https://interviewplanner.com">
      <img alt="InterviewPlanner" class="logo" src="https://interviewplanner.com/src/assets/images/logo.svg">
    </a>
  </div>
  <div class="footer-section">
    <h6>Product</h6>
    <a href="https://interviewplanner.com/#features">Features</a>
    <a href="https://interviewplanner.com/pricing">Pricing</a>
  </div>
  <div class="footer-section">
    <h6>Company</h6>
    <a href="https://interviewplanner.com/about">About</a>
    <a href="https://interviewplanner.com/roadmap">Roadmap</a>
    <a href="https://interviewplanner.com/blog">Blog</a>
  </div>
  <div class="footer-section">
    <h6>Resources</h6>
    <a href="https://interviewplanner.com/contact">Contact</a>
    <a href="https://interviewplanner.com/terms">Terms</a>
    <a href="https://interviewplanner.com/privacy">Privacy</a>
  </div>
</footer>
<footer class="copyright">
  &copy; 2020 InterviewPlanner | Made with <i class="fas fa-heart"></i> in San Francisco
</footer>

